*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,body{
  height: 100%;
  width: 100%;
  font-family: Arial, sans-serif;
}

.page1{
  height: 100%;
  width: 100%;
  background-color: #c46cdf;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page2{
  height: 100%;
  width: 100%;
  background-color: #62db76;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page3{
  height: 100%;
  width: 100%;
  background-color: #c44964;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle{
 
  height: 19vw;
  width: 19vw;
  border-radius: 50%;
  background: linear-gradient(rgb(119, 34, 218),rgb(84, 189, 42));
}

#circle{
 
  height: 19vw;
  width: 19vw;
  border-radius: 50%;
  background: linear-gradient(rgb(119, 34, 218),rgb(84, 189, 42));
}